{% extends "blog/base.html" %}
{% block content %}

<h6  style="font-size: 0.7rem;" class="an mt-0 mb-0 alert alert-primary alert-dismissible fade show" role="alert">
    <strong class="alert-heading"> Hi Visitors ! <br> This is Farmer's Interaction Website </strong> 
    <br>
     
    Through this project, I aimed to develop an interactive platform where farmers can interact with agriculture experts and other farmers to solve their queries. They can ask a Question,suggest Solutions, and can also share their success/failure experiences. Also most of the farmers can view this website in their native languages..  :) 
    <br>
    <br> 
    I think, You should check in on some of those fields. Isn't it 
    <br>
    <p> To start use this website  more efficiently, hit<b> top-left corner button</b> <em>FarmerForFarmer</em><br></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</h6>

<div class="container-fluid row  mr-auto   " style="margin-left: auto; ;">
    

   

    
    <div class="card  mt-5  mb-4 ml-auto mr-auto" style="width: 12rem; height: 8rem;">

        <div class="card-body  " id="f1">
            <h6 class="card-title">

                <a href="https://www.bayer.com/en/crop-science-innovations-crop-protection.aspx"
                    class="btn btn-success">Crop Protection<a>

            </h6>
            <p class="card-text"  style="font-size: 0.8rem;">See Crop Protection related information </p>

        </div>

    </div>


    <div class="card  mt-5 mb-4 ml-auto mr-auto" style="width: 12rem; height: 8rem; ">

        <div class="card-body" id="f2">
            <h6 class="card-title"><a
                    href="https://agriculture.vic.gov.au/farm-management/water/irrigation/irrigation-management"
                    class="btn btn-success ">Irrigation</a></h6>
            <p class="card-text" style="font-size: 0.8rem;" >See Irrigation related information here</p>

        </div>

    </div>

    <div class="card  mt-5   mb-4 ml-auto mr-auto" style="width: 12rem;height: 8rem;">

        <div class="card-body  " id="f3">
            <h6 class="card-title"><a
                    href="https://www.grain.org/en/article/6035-the-real-seeds-producers-small-scale-farmers-save-use-share-and-enhance-the-seed-diversity-of-the-crops-that-feed-africa"
                    class="btn btn-success">Seeds</a></h6>
            <p class="card-text" style="font-size: 0.8rem;">See Seeds related information</p>
        </div>

    </div>

    <div class="card  mt-5  mb-4 ml-auto mr-auto" style="width: 12rem;height: 8rem;">

        <div class="card-body  " id="f4">
            <h6 class="card-title"><a href="https://en.wikipedia.org/wiki/Climate_change_and_agriculture"
                    class="btn btn-success ">Climate</a></h6>
            <p class="card-text" style="font-size: 0.8rem;">See information on Climate </p>
        </div>

    </div>

    <div class="card  mt-5  mb-4 ml-auto mr-auto" style="width: 12rem;height: 8rem;">

        <div class="card-body  " id="f5">
            <h6 class="card-title"><a
                    href="https://tradingeconomics.com/india/agricultural-land-percent-of-land-area-wb-data.html"
                    class="btn btn-success ">Land/Soil</a></h6>
            <p class="card-text" style="font-size: 0.8rem;">See soil related information</p>
        </div>

    </div>







</div>


<div id="bak-img">
    <h3 id="EXP"  style="background-image: linear-gradient(to right bottom,white,azure)"><b>EXPERIENCES</b></h3>
    <div id="carouselExampleControls" class="carousel slide EXPERIENCE" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card mb-3" style="max-width: 540px; margin: auto;" id="noHover">
                    <div class="row no-gutters" >
                        <div class="col-md-4">
                            <img src="/static/images/images.jpg" class="card-img" alt="cardiimg"
                                style="width: 180px ; height: 200px; margin:0px; padding: 0px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6 class="card-title">What Does It Take to Be a Successful Farmer?</h6>
                                <p class="card-text " style="font-size: 0.7rem;" >Top farmers must have a combination of effective mechanical, administrative, communication and decision-making skills.
                                    Mechanical and Repairing Skills. While farmers complete many of the same tasks each day, no two days are exactly alike. ...
                                    Problem-Solving Abilities. ...
                                    Time-Management Proficiency. ...
                                    Interpersonal Skills.</p>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card mb-3" style="max-width: 540px; margin: auto;" id="noHover">
                    <div class="row no-gutters">
                        <div class="col-md-4 ">
                            <img src="/static/images/indian-farmer-field_75648-189.jpg" class="card-img" alt="card img"
                                style="width: 180px ; height: 200px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6 class="card-title">India’s Biggest Challenge: The Future of Farming</h6>
                                <p class="card-text" style="font-size: 0.7rem;">India has enough food; does it have too many people working in agriculture? The pressure on land is an outcome of policy, which condemns most people to marginal farming. India needs a different set of solutions for agriculture and for those working the land.</p>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="card mb-3" style="max-width: 540px; margin: auto;" id="noHover">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="/static/images/AdobeStock_175456298-1200x480.jpeg" class="card-img" alt="cardimg"
                                style="width: 180px ; height: 200px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6 class="card-title">About Indian Farmers </h6>
                                <p class="card-text" style="font-size: 0.7rem;">India, as a matter of fact, is a land of farmers. An Indian farmer should be respected by everyone. It is he who produces grains and vegetables for the citizens of the country. Throughout the year, the Indian farmer remains busy in tilling the fields, sowing seeds and reaping the crops.</p>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

       
    </div>
   


    <a class="btn btn-success btn-sm" href="{% url 'blog-experience' %}">VIEW  ALL  EXPERIENCES</a>
    <a class="btn btn-success btn-sm" href="{% url 'post-create' %}">SHARE YOUR EXPERIENCE</a>

   <hr style="border-bottom: 1px solid black;">
</div>



<div>
    <h3 style="background-image: linear-gradient(to right bottom,white,azure)" >SCHEMES</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a class="dropdown-item" href="https://pmfby.gov.in/" target="_blank">Pradhan Mantri Fasal Bima Yojana
            </a></li>

        <li class="list-group-item">
            <a class="dropdown-item" href="http://soilhealth.dac.gov.in/" target="_blank">Soil Health Card
            </a></li>
        <li class="list-group-item">
            <a class="dropdown-item" href="http://pmksy.gov.in/" target="_blank">Pradhan Mantri Krishi
                Sinchayee Yojna.</a></li>
        <li class="list-group-item"><a class="dropdown-item" href="http://rkvy.nic.in/" target="_blank">Rastriya
                Krishi
                Vikas Yojna.</a></li>
        <li class="list-group-item"><a class="dropdown-item" href="http://agmarknet.gov.in/" target="_blank">Agmarknet
                Portal.</a></li>
    </ul>
</div>
<br style="color: black;">




<div>

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" >
            <div class="carousel-item active" style="border: 0.1rem solid maroon;">
                <img src="/static/images/AdobeStoc175456298-1200x480.jpeg" class="d-block w-100" alt="..."
                    style="width: 100rem; height: 30rem; background-position: 50% 50%;">
                <div class="carousel-caption " style="font-size: 1rem;">
                    <h5 style="font-size:1rem;" >What is Agriculture ?</h5>
                    <p style="font-size:0.5rem;"> <em>“Agriculture is our wisest pursuit, because it will in the end contribute most to real
                            wealth, good morals, and happiness.”</em></p>
                </div>
            </div>
            <div class="carousel-item" style="border: 0.1rem solid maroon;">
                <img src="/static/images/cereal-1866559_1280.webp" class="d-block w-100" alt="..." style="width: 100rem; height:30rem;
              background-position: 50% 50%;">
                <div class="carousel-caption " style="font-size: 1rem;">
                    <h5 style="font-size:1rem;">The Beacon</h5>
                    <p style="font-size:0.5rem;"> <em>“Farming is a profession of hope.”</em></p>
                </div>
               
               
            </div>
            <div class="carousel-item" style="border: 0.1rem solid maroon;">
                <img src="/static/images/animals-1782431_1280.webp" class="d-block w-100" alt="..."
                    style="width: 100rem; height:30rem; background-position: 50% 50%;">
                <div class="carousel-caption " style="font-size: 1rem;">
                    <h5 style="font-size:1rem;" >The Hard Work</h5>
                    <p style="font-size:0.5rem;"><em>“You know, farming looks mighty easy when your plow is a pencil, and you’re a thousand
                            miles from the corn field.” </em></p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>


<div>


    <h3 class="card-header" style="background-image: linear-gradient(to right bottom,white,rgb(131, 238, 238))">

        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lightning" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z" />

        </svg>


        WEATHER TODAY
        <div>



            <div class="input ">
                <input type="text" placeholder="Enter City Name here" class="input_text form-control mr-sm-2">
                <input type="submit" value="Get Weather" class="submit btn btn-outline-info my-2 my-sm-0">
                <hr style="border-bottom: 1px solid black;">
            </div>

            <div>
                <div style="text-align: center;" id="noHover">
                    <h2 class="name" id="name"></h2>
                    <h4 class="temp  "> </h4>
                    <h4 class="clouds"></h4>
                    <h4 class="desc"></h4>
                </div>
                <script type="text/javascript">
                    var input = document.querySelector('.input_text');
                    var main = document.querySelector('#name');
                    var temp = document.querySelector('.temp');
                    var desc = document.querySelector('.desc');
                    var clouds = document.querySelector('.clouds');
                    var button = document.querySelector('.submit');


                    button.addEventListener('click', function (name) {
                        fetch('https://api.openweathermap.org/data/2.5/weather?q=' + input.value + '&appid=5d5f4b7a5e2741b671b1ccb34fcf914e')
                            .then(response => response.json())
                            .then(data => {
                                var tempValue = (data['main']['temp'] - 273).toPrecision(3);
                                var nameValue = data['name'];
                                var descValue = data['weather'][0]['description'];


                                main.innerHTML = "  Location    : " + nameValue;
                                desc.innerHTML = "  Climate Prediction : " + descValue;
                                temp.innerHTML = "  Temperature(°C) : " + tempValue;
                                input.value = "";
                                

                            })

                            .catch(err => alert("Wrong city name!"));
                    })

                </script>

            </div>

    </h3>





</div>

{% endblock content %}