{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container-fluid" style="color: white;">


    <div class="dropdown">
        <form class="px-4 py-3" method="POST">
            {% csrf_token %}

            <div class="form-group " style="color: white ;font-size: 1rem;">
                {{ form|crispy }}
                
            </div>
            
            </div>
            
            <button type="submit" class="btn btn-primary">Sign up
            </button>
        </form>
        <div class="dropdown-divider"></div>
        
    </div>

</div>

{% endblock content %}